@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}

.inpWrap {
  width: 400px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
}
.inpWrap input {
  flex: 1;
  padding: 5px 10px;
}

.viewData {
  width: 400px;
  margin: 0 auto;
}
.viewData .viewList {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.viewData .viewList:hover,
.viewData .viewList.active {
  background: rgba(249, 168, 16, 0.192);
}

.iconWrap {
  display: flex;
  gap: 10px;
}
